body{
    display: block;
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("imagem-fundo.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header.hero{
    padding: 8rem;
    font-size: 26pt;
    background-color: rgba(16, 16, 19, 0.728);
}

header.hero p{
    font-size: 24pt;
}

section{
    padding-left: 5%;
    padding-right: 5%;
}

h2{
    font-size: 24pt;
    color: gold;
}

hr{
    border-color: gold;
}

h3{
    font-size: 20pt;
    color: gold;
}

p{
    font-size: 14pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif
}

.btn{
    background-color: black;
    color: gold;
    font-size: 14pt;
    padding: 8px;
    text-decoration: none;
    border-radius: 10%;
}

footer{
    background-color: rgba(16, 16, 19, 0.728);
    padding: 5pt;
    margin: 0;
}

footer p{
    font-size: 12pt;
}